.about-section {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.about-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2em;
}

h2 {
	font-size: 48px;
}

.ghost-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 250px;
}
