img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

h4,
p {
  margin: 0;
}

.about-card {
  box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.about-card figure {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: lightgrey;
  transition: background-image 0.3s ease-in-out;
}

.about-card .content {
  padding: 30px;
}

.about-card h4 {
  margin-bottom: 16px;
}
