.header {
	position: relative;
	min-height: 600px;
	background-size: cover;
	background-position: center center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header h1 {
	font-size: 64px;
	line-height: 1.25;
}

.cover-image-btn {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: 20px;
	right: 20px;
	border-radius: 100px;
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 40px;
	box-shadow: 2px 2px 32px 8px rgba(0, 0, 0, 0.05);
	background-color: #1875d0;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 14px;
	outline: none;
}

.header:hover .cover-image-btn {
	visibility: visible;
	opacity: 1;
	z-index: 2;
}
