* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #2a2d35;
	font-family: 'Open Sans', sans-serif;
}

.container {
	font-family: sans-serif;
	max-width: 1080px;
	padding: 0px 20px;
	margin: 0 auto;
}

.container.inset {
	max-width: 800px;
}

.hover,
.selected {
	position: relative;
	z-index: 2;
}

.hover {
	outline: 4px solid rgba(25, 118, 210, 0.6);
	z-index: 3;
}

.selected > .section {
	outline: 4px solid #1875d0;
}

.selected {
	outline: 2px solid #1875d0;
}

.section .selected,
.section .hover {
	outline-width: 3px;
	outline-offset: 20px;
}

.group .selected,
.group .hover {
	outline: 2px solid #1875d0;
	outline-offset: 20px;
}

.megadraft-editor .DraftEditor-root {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
}

.megadraft {
	cursor: text;
}

.megadraft-editor .toolbar__wrapper {
	background-color: #2a2d35;
}

.megadraft-editor .toolbar__arrow {
	border-color: #2a2d35 transparent transparent;
}

.public-DraftEditorPlaceholder-root {
	width: 100%;
}

.field {
	cursor: pointer;
}

.section {
	position: relative;
}

.website > .field {
	background-color: whitesmoke;
}

.website > .field:nth-child(2n) {
	background-color: #fff;
}

.__react_component_tooltip {
	display: none;
}

.element {
	position: relative;
}

/* .element:before {
  content: "✏️";
  position: absolute;
  left: -30px;
  top: 50%;
  display: none;
  font-size: 16px;
}

.element:hover:before {
  display: block;
} */

@media (min-width: 700px) {
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 80px;
		padding-right: 80px;
	}

	.__react_component_tooltip {
		display: inline-block;
		white-space: nowrap;
	}
}
