* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #2a2d35;
	font-family: 'Open Sans', sans-serif;
}

.container {
	font-family: sans-serif;
	max-width: 1080px;
	padding: 0px 20px;
	margin: 0 auto;
}

.container.inset {
	max-width: 800px;
}

.section,
.header,
.group,
.item,
.group-item {
	outline-color: transparent;
}

.hover,
.selected {
	position: relative;
}

.field.selected > .section,
.field.hover > .section,
.section:hover,
.selected.section,
.selected.header {
	transition: all 0.1s ease-out;
	outline-color: #1976d2;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
}

/* .field.selected > .group,
.field.hover > .group {
	transition: all 0.1s ease-out;
	outline-color: #1976d2;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 10px;
} */

.field.selected > .group,
.field.hover > .group,
.field.selected > .group-item,
.field.hover > .group-item {
	transition: all 0.1s ease-out;
	outline-color: #1976d2;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 10px;
}

.field.hover > .item {
	transition: all 0.1s ease-out;
	outline-color: #1976d2;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: -1px;
}

.selected .megadraft {
	cursor: text;
}

.megadraft-editor .DraftEditor-root {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
}

.megadraft-editor .toolbar__wrapper {
	background-color: #2a2d35;
}

.megadraft-editor .toolbar__arrow {
	border-color: #2a2d35 transparent transparent;
}

.public-DraftEditorPlaceholder-root {
	width: 100%;
}

.field {
	cursor: pointer;
}

.section {
	position: relative;
}

.website > .field {
	background-color: whitesmoke;
}

.website > .field:nth-child(2n) {
	background-color: #fff;
}

.__react_component_tooltip {
	display: none;
}

.element {
	position: relative;
	display: block;
}

.error-message {
	padding: 14px 20px;
	position: absolute;
	left: 50%;
	background-color: red;
	color: #fff;
	z-index: 5;
	font-size: 14px;
	transform: translateX(-50%);
	top: -40px;
}

.error-message:after {
	content: '';
	width: 20px;
	height: 20px;
	transform: rotate(45deg) translateX(-50%);
	background-color: red;
	position: absolute;
	top: 90%;
	left: 50%;
	z-index: -1;
}

@media (min-width: 700px) {
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 80px;
		padding-right: 80px;
	}

	.__react_component_tooltip {
		display: inline-block;
		white-space: nowrap;
	}
}
